#contenedor{
	
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;

}

body {
	
	background-image: url(../Img/fondo.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
}
h2{
	font-family: verdana;
	color:#004669;
		font-size: 40px;
	text-align: center;
}

h3{
	font-family: verdana;
	color:#004669;
	margin-left: 20px;
	font-size: 25px;
	text-align: center;
}

p {
	font-family: verdana;
	margin-left: 8px;
	margin-right: 8px;
	color:orange;
	text-align: justify;
}

header{
	width: 1000px;
	height: 340px;
}

nav{
	width: 996px;
	height: 70px;
	background: orange;
	border: solid;
	border-color: #004669;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

ul{
	margin:auto;
	padding- top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 20px;
}

a{
	text-decoration: none;
	font-size: 27px;
	color:#004669;
}

section{
	width: 700px;
	height: auto;
	background: black;
	float:left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
aside{
	width: 280px;
	height: 400px;
	background: black;
	float:left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

footer{
	width: 1000px;
	height: 100px;
	background: orange;
	float:left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 20px
}

